.notify{
    z-index: 999;
}

.notify .panel-title{
    font-weight: bold;
}

.notify .close{
   padding: 4px 0px;
}

.notify .list-group {
    max-height: 259px;
    overflow-x:hidden;
}


.notify .list-group-item .glyphicon{
    vertical-align: top;
    margin: 8px 0px;
}

.notify  .list-group-item  .title{
    line-height: 30px;
    font-size: 14px;
    font-weight: bold;
    color: #333333;
    text-decoration: none;
    cursor: pointer;
    -o-text-overflow: ellipsis;/*兼容opera*/
    text-overflow: ellipsis;/*这就是省略号喽*/
    overflow: hidden;/*设置超过的隐藏*/
    white-space: nowrap;/*设置不折行*/
    width:180px;/*设置宽度*/
    display: inline-block;
}

.notify .list-group-item .btn-link{
    text-decoration: none;
}
