/*重置header , 以及菜单style */
body{background: url('../img/body_bg.png') repeat;}
ul, ol {list-style: none;}

/** layout **/
.clearfix:after,.layout:after{content:'\20';display:block;height:0;clear:both;visibility:hidden}
.clearfix,.layout{*zoom:1}
.col-main{width:100%;}
.main-wrap{margin:60px 12px 60px 240px;}
.col-sub{width:242px;padding:0 10px 0 12px;  margin: 0px;position: absolute;top: 61px;}

.main-wrap,.sub-box{background:#fff;border:1px solid #d0d0d0;border-radius:2px;}
.content{margin-bottom:20px;}

.header,.sub-h,.open h3,.sub-c li.cur,.box .head,.tabs li,.datepicker{background:url(../img/core.png) no-repeat;}

/* header */
.header{height:53px;line-height:53px;padding:0 20px;margin-bottom:8px;background-repeat: repeat-x;background-position:0 0;}
.header h1{font-size:24px;font-weight:700;float:left;color:#fff; margin: 14px 0px;}
.header p{color:#b8b8b8;float:right;}
.header .msg-new{ margin-right: 10px;}
.header a{ text-decoration: none; color: #53B0F8; }
.header a:HOVER{color: #7FC3F8;}
/* footer */
.footer{height:80px;text-align:center;line-height:80px;color:#959595;}

/* sub */
.sub-box{margin-bottom:5px;}
.sub-h{height:31px;line-height:31px;padding-left:18px;font-size:14px;font-weight:700;background-repeat: repeat-x;background-position:0 -53px;}
.open h3{background-position:100% -84px;font-size: 100%;margin: 0;padding: 0;font-weight: bold;line-height: 31px;}
.sub-c{padding: 0 4px}
.sub-c ul{padding:0px;margin: 0px;}
.sub-c li{line-height:31px;padding-left:31px;font-size:14px;border-bottom:1px dotted #d0d0d0;}
.sub-c li a {color: #404040;text-decoration: none;cursor: pointer;}
.sub-c li a:hover{color:#39b7e7;}
.sub-c li.cur{background-position:100% -115px;}
.sub-c li.cur a{color:#39b7e7;font-weight:700;}
.sub-c li.last{border:none;}

/* page-common-style */
.full-container {padding:0 15px;margin: 0 auto;}
.loading-icon {display:inline-block; width:46px;height:46px;background: url("../../images/spinner.gif") no-repeat  transparent;}
.daterange-picker{display:inline-block; background: #fff; cursor: pointer; width:205px; padding: 5px 10px; border: 1px solid #ccc;}

.panel-title{padding: 5px 0px;}
.panel .panel-heading .panel-nav {padding: 2px 0px;}
.panel .panel-heading .panel-nav >  li > a {font-size: 14px;}
.panel .panel-heading .nav >  li > a {padding: 0 10px;}
.empty-text{text-align: center;padding-top: 150px;font-size: 14px;}
.scroll-grid .empty-text{text-align: left;padding: 20px 0px 360px 20px;}


.stat-page{background-color:#ffffff; margin-left: 240px; margin-right: 10px; padding:0 20px 10px; border: solid 1px #D0D0D0; border-radius: 3px;}

/*modal 组件样式*/
.bootbox{
    background-color: transparent !important;
    border: 0px !important;
    webkit-box-shadow:none !important;
    box-shadow:none !important;
}


/*Page title Bar*/
.stat-page .title-bar h3{font-weight: bold;}

.stat-page .title-bar > *,
.stat-page > .title{ margin: 20px 0px;}

.stat-page .title-bar .sub-desc{line-height: 25px;padding: 2px 0px;}

.stat-page .title-bar .hight-light{margin: 0 5px;color: #008000;}

/* table style */
table tr th,
table tr td{text-align: center;}

.table-fixed {table-layout: fixed;}

.head-bg tr th{ background-color: #F2F2F2;color: #333333;}

.single-row-table tr td > *{ color: #FF6600; font-weight: bold; }

/*Button Nav */
.panel-nav{ margin-bottom: 17px;}

/*tab chart*/
.tab-chart .chart-wrap,
.tab-spline .chart-wrap{
   position: relative;
   min-height: 400px;
}
.tab-chart .chart-wrap > .chart-hide,
.tab-spline  .chart-wrap > .chart-hide{
   position: absolute;
   top: -10000px;
   left:-10000px;
   display: block;
}

/*grid charts style*/
/*栅格图表*/
.grid-chart{

}
.grid-chart [class^="col-"] {
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
}

.grid-chart .row  [class^="col-"]:last-child{
    border-right: none;
}

.grid-chart .row:last-child  [class^="col-"]{
    border-bottom: none;
}
.grid-chart .panel-body{
    padding-top:0px;
    padding-bottom: 0px;
}

/*time-report style*/

/*page grid style*/
.page-detail .panel-body{
    padding-top:0px;
    padding-bottom: 0px;
}

.page-detail .bootstrap-slickgrid{
    margin-bottom: 0px;
    border: none;
    text-align: center;
    border-bottom: solid 1px #DDD;
}

.page-detail .page-size{
    width: 60px;
}

.page-detail .page-size-wrap{
    margin: 4px 0px;
}

.page-detail .per-size{
    margin: 0px;
    display: inline-block;
    padding: 0px;
    vertical-align: middle;
    line-height: 26px;
}

.page-detail .total-records{
    margin: 8px 0px;
}

.empty-grid .slick-viewport {
    height: auto !important;
}

.empty-grid .slick-viewport .grid-canvas{
    height: auto !important;
}

/*
.page-detail .grid .grid-canvas .slick-row .slick-cell:last-child{
    border-right: none;
}*/
/*
.page-detail .grid .grid-canvas .slick-row:last-child .slick-cell{
    border-bottom: none;
}*/

.page-detail .grid .slick-header-columns,
.page-detail .grid .slick-header-columns .slick-header-column,
.page-detail .grid .slick-header-columns .slick-header-column.ui-state-default {
    background-color: transparent;
}

/*
.page-detail .grid .slick-header-columns .slick-header-column:last-child{
    border-right: none;
}*/


/*
.page-detail table{
    margin: 0px;
    border-collapse: collapse;
}
.page-detail table td, table th {
    border: 1px solid #dddddd;
}

.page-detail table tr:first-child th {
    border-top: 0;
}

.page-detail table tr td:first-child,
.page-detail table tr th:first-child {
    border-left: 0;
}
.page-detail table tr td:last-child,
.page-detail table tr th:last-child {
    border-right: 0;
}*/

.page-detail .page-bar{
    padding: 5px 0px;
}

.page-detail .pagination{
    margin: 0px;
    position: relative;
    top: 2px;
}
.page-detail input[name='pageNo']{
    width: 100px;
}
/*2013-11-18*/
.highlight {
    display: block;
}
.highlight {
    background-color: #F7F7F9;
    border: 1px solid #E1E1E8;
    border-radius: 4px;
    margin-bottom: 14px;
    padding: 9px 14px;
}

.footer{
  display:block;
}