.date-point-picker {max-width: none;}
.date-point-picker .popover-content{ padding: 5px;}
.date-point-picker .popover-content > *{margin: 0px 5px;}
.date-point-picker .quick-menu > li > a{padding: 5px 10px; min-width: 60px; background: #f5f5f5;border: 1px solid #f5f5f5; margin-bottom: 8px;}
.date-point-picker .quick-menu > li > a:hover,
.date-point-picker .quick-menu > li > a:focus,
.date-point-picker .quick-menu > li.active > a,
.date-point-picker .quick-menu > li.active > a:hover,
.date-point-picker .quick-menu > li.active > a:focus{background: #08c;border: 1px solid #08c;color: #fff;}

.date-point-picker .left > *{ float: left;}
.date-point-picker .right > *{ float: right;}

.date-point-picker.bottom .arrow{left: 20px;}

.date-point-picker .week-picker .nav-pills > li {width: 34px; min-width: inherit;}
.date-point-picker .week-picker .nav-pills > li >a {padding: 5px;}
