.tag-select {
    width: 270px;
    border:1px solid #CCCCCC;
    border-radius: 4px;
}

.tag-select .nav-header {
    background-color: transparent;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.tag-select .nav-header table{
    width: 100%;
}

.tag-select .nav-header table  th i{
    cursor: pointer;
}

.tag-select .select-nav{
    width: auto;
}

.tag-select .select-nav span{
    display: none;
}

.tag-select .nav {
    display: none;
    padding: 9px 10px;
}

.tag-select .nav > li{
    min-width: 60px;
    text-align: center;
}

.tag-select .nav > li > a{
    padding: 5px 10px;
}

.tag-select .nav-pills > li + li{
    margin: 0px;
}
